<!-- ////////////// FOOTER ////////////// -->
footer
	.container
		.row.link
			.col-md-4.mb-5.mb-md-0
				h4 FULLSTACK VIETNAM
				p.mb-0 Mobile: (+84) 969689893
					br
					|	Email: admin@fullstackvietnam.com
					br
					| Địa chỉ: 28 đường số 2 - CITY LAND - Phường 7 - Gò Vấp - HCM
			.col-sm
				h4 LINK
				.row
					.col-sm.mb-5.mb-sm-0
						ul.list-unstyled.mb-0
							li
								a(href="") Khóa học FrondEnd-Master
							li
								a(href="") Khóa học Fullstack Developer
							li
								a(href="") Khóa học Design chuyên ngiệp
							li
								a(href="") Lịch khai giảng
							li
								a(href="") Đăng ký khóa học
					.col-sm.mb-5.mb-sm-0
						ul.list-unstyled.mb-0
							li
								a(href="") Khóa học FrondEnd-Master
							li
								a(href="") Khóa học Fullstack Developer
							li
								a(href="") Khóa học Design chuyên ngiệp
							li
								a(href="") Lịch khai giảng
							li
								a(href="") Đăng ký khóa học
		.copyright
			.container
				.row.align-items-center
					.col-sm-6.text-center.text-sm-left Copyright 2018 by Fullstack VietNam
					.col-sm-6.tex-center.text-sm-right
						.toan.mt-3.mt-sm-0
							input(type="text", placeholder="Email của bạn")
							button(type="button") Gửi
